{% extends "main/includes/header.html" %}
{% block content %}

    {% load static %}
    {% include "main/includes/navbar.html" %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">SiriusXM: The Highway
                    <small>Song Details</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

        {% if song.chartdata|length > 0 %}
            google.charts.load('current', {packages: ['corechart', 'line']});
            google.charts.setOnLoadCallback(drawBasic);

            function drawBasic() {

                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Day');
                data.addColumn('number', 'Times Heard');

                data.addRows([
                        {{ song.chartdata }}
                    ]);

                var options = {
                    hAxis: {
                        title: 'Day',
                        format: 'M/d/yy',
                         gridlines: {
                            color: 'none'
                         }
                    },
                    vAxis: {
                        title: 'Times Heard',
                         gridlines: {
                            color: 'none'
                         }
                    },
                    legend: {
                        position: 'none'
                    }
                };
                var chart = new google.visualization.AreaChart(document.getElementById('chart'));
                chart.draw(data, options);
            }

        {% endif %}
        </script>

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="artistsong-text">
                    {% if song.spotify.artist|length > 0 %}
                        <h4>{{ song.spotify.artist }}</h4>
                    {% else %}
                        <h4>{{ song.artist }}</h4>
                    {% endif %}

                    {% if song.spotify.title|length > 0 %}
                        <h4>{{ song.spotify.title }}</h4>
                    {% else %}
                        <h4>{{ song.title }}</h4>
                    {% endif %}
                </div>
                {% if song.chartdata|length > 0 %}
                    <div id="chart"></div>
                {% endif %}
                <div class="col-md-1">
                </div>
                <br>
                <div class="col-md-4">
                    <img class="img-responsive" src="
                        {% if song.spotify.album_image|length > 0 %}
                            {{ song.spotify.album_image }}
                        {% else %}
                            {% static 'main/thehighway.jpg' %}
                        {% endif %}" alt="" >
                </div>
                <div class="col-md-6">
                    <div class="songdetails">
                        <br><br>
                        <b>Total Played: </b> {{song.num_plays}}
                        <br>
                        <b>Last Heard: </b> {{song.last_heard}}
                        <br>
                        <b>First Heard: </b> {{song.first_heard}}
                    </div>
                    <div class="songicons-song">
                        <br>
                        <a href="{{ song.ytlink }}" target="_blank">
                            <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                        {% if song.spotify.url|length > 0 %}
                            <a href="{{ song.spotify.url }}" target="_blank">
                                <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <hr><br>
                    <p>Copyright &copy; {% now "Y" %} Stefan Gloutnikov</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>

{% endblock %}